
#moregames_title
{
	text-align:center;
}

#moregames_selection
{
	text-align:center;
	margin-top: 2em;
}

.moregames_item
{
	clear: both;
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

.moregames_item img
{
	max-width: 100%;
}

#moregames_logos
{
	margin-top: 2em;
}

#contents #moregames_logo_bbc, 
#contents #moregames_logo_scarybeasties
{
	width: 48%;
	display: inline-block;
}

#contents #moregames_logo_bbc #img
{
	background-image: url("../img/moregames/moregames_logo1.png");
	background-repeat: no-repeat;
	background-position: center;
	
	float: right;
	width: 145px;
	height: 108px;
	
	padding-right: 6em;
}

#contents #moregames_logo_scarybeasties #img
{
	background-image: url("../img/moregames/moregames_logo2.png");
	background-repeat: no-repeat;
	background-position: center;
	
	float: left;
	width: 201px;
	height: 110px;
}




@media screen and (max-width: 560px) 
{

}