@font-face {
	font-family: 'open_sans_regular';
		src: url('../fonts/OpenSans-Regular-webfont.eot');
		src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sans_bold';
		src: url('../fonts/OpenSans-Bold-webfont.eot');
		src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Bold-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sans_semibold';
		src: url('../fonts/OpenSans-Semibold-webfont.eot');
		src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Semibold-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	margin: 0;
	background-color: #EDECED;
}

#container
{
	min-height:100%;
	top:0px;
	position:relative;
}

.title
{
	 color: #FFFFFF;
	 font-family: 'open_sans_bold';
	 font-size: 2em;
	 text-align: center;
	 
	 position: fixed;
	 top: 0px;
	 width: 100%;
	 height: 65px;
	 
	 z-index: 100;
	 clear:none;
	 
	 background-color: #41BFEE;
}

.title .title_text
{
	padding-top: 8px;
}

.back_button
{
	position: absolute;
	background-image: url("../img/small_button_back.png");
	width: 50px;
	height: 50px;

	position: fixed;
	top: 7px;
	left: 5px;
	z-index: 101;
}

.contents
{
	color: #606060;
	font-family: 'open_sans_regular';
	font-size: 0.8em;

	margin-top: 75px;
	margin-bottom: 100px;
	
	padding-left: 10%;
	padding-right: 10%; 

	position: relative;
	clear: right;
}

.contents .bold
{
	font-family: 'open_sans_semibold';
	font-size: 1.2em;
	margin:0 0 0.5em;
}

.contents .text_block_regular
{
	padding-bottom: 1em;
}

.contents .text_block_regular .indented
{
	display: block;
	margin-left: 2em;
}

.contents .background_image
{
	position: relative;
	background-image: url("../img/parents_area_bg.jpg");
	background-repeat: bottom repeat-x;
	height: 100%;
	width: 100%;
	overflow: hidden;

	position: fixed;
	top: 65px;
	left: 0px;
	
	z-index: -1;
}

p
{
    margin:0 0 0.8em;
}

.footer
{
	color: #606060;
	font-family: 'open_sans_regular';
	font-size: 8.5px;
	
	width: 	100%;
	height:	65px;
	clear:	both;
	position:fixed;
	bottom: 0;
	
	background-color: #ffffff;
}

.footer #logo_bbc
{
	width: 18%;
	min-width: 90px;	
	float: left;
	padding-top: 3px;
}

.footer #logo_bbc #img
{
	background-image: url("../img/parent_arealogo_bbc.png");
	background-repeat: no-repeat;
	background-position: center;
	
	height: 60px;
	max-width: 115px;
}

.footer #legals
{
	text-align: center;
	line-height: 1.4em;
	
	position: relative;
	float:left;
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.footer #legals #text
{
	position:absolute;
	bottom: 0px;
	width: 100%;
	padding-bottom: 5px;
}


.footer #logo_scarybeasties
{
	width: 22%;
	min-width: 90px;
	
	position: relative;
	float: left;
	right:0;
}

.footer #logo_scarybeasties #img
{
	background-image: url("../img/parent_arealogo_beasties.png");
	background-repeat: no-repeat;
	background-position: center;
	
	float: right;
	height: 60px;
	min-width: 140px;
}

@media screen and (max-width: 760px) 
{
	.footer
	{
		font-size: 0.3em;
	}
}

@media screen and (max-width: 570px) 
{
	.footer #logo_bbc
	{
		width: 18%;
		min-width: 90px;	
		float: left;
		padding-top: 3px;
	}

	.footer #logo_bbc #img
	{		
		-ms-transform: scale(0.9,0.9); /* IE 9 */
		-webkit-transform: scale(0.9,0.9); /* Chrome, Safari, Opera */
		transform: scale(0.9,0.9);
		
		max-width: 90px;
	}
	
	.footer
	{
		font-size: 0.35em;
	}
	
	.footer #logo_scarybeasties
	{
		width: 23%;
		min-width: 90px;

		position: relative;
		float: left;
		right:0;
	}
	
	.footer #logo_scarybeasties #img
	{
		-ms-transform: scale(0.8,0.8); /* IE 9 */
		-webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
		transform: scale(0.8,0.8);
		
		min-width: 110px;
	}
	
	.footer #legals
	{
		text-align: center;
		line-height: 1.4em;

		position: relative;
		float:left;
		width: 58%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.footer #legals #text
	{
		position:absolute;
		bottom: 0px;
		width: 100%;
		margin-right: 10px;
		padding-bottom: 5px;
	}
}


@media screen and (max-width: 500px) 
{
	.footer #logo_scarybeasties
	{
		width: 22%;
	}
	
	.footer #logo_scarybeasties #img
	{
		min-width: 109px;
	}
}