body
{
	margin: 0;
	text-align: center;
	background-color: #FFFFFF;
}

.itemHolder
{
	width:100%;
	height:100%;
	overflow:hidden;
}

.item
{
	width: 100%;
	height:100%;
	background-color: white;
	display: inline-table;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);

	z-index: 0;
	left:0%;
}

.item a
{
	display: block;
	height: 100%;
	width: 100%;

	background-repeat: no-repeat;
	background-position: center;

	display: block;
	height: 100%;
	width: 100%;
}

.corner
{
	position: absolute;

	width: 15px; height: 15px;
	position: absolute;
	background-image: url("img/corner.png");
	background-repeat: no-repeat;

	z-index:10;
}

.upper_left
{
	top: 0; left: 0;
}

.upper_right
{
	top: 0;
	right: 0%;
	transform:scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}

.lower_left
{
	bottom: 0%;
	left: 0;
	transform:scaleY(-1);
	-webkit-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
}

.lower_right
{
	bottom: 0%;
	right: 0%;
	transform:scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
}

.center
{
	position: absolute;
	background-image: url("img/2x2white.png");
	background-repeat: bottom repeat-x;
	height: 2px;
	width: 100%;

	z-index:9;
}
.upper { top: 0%; }
.lower { bottom: 0%; }

.side
{
	position: absolute;
	background-image: url("img/2x2white.png");
	background-repeat: bottom repeat-y;
	height: 100%;
	width: 2px;

	z-index:9;
}
.left { left: 0; }
.right { right: 0%; }